<div ng-controller="DeploymentController">
  <pf-wizard-substep step-title="Generate" step-id="review-progress" step-priority="1" next-enabled="true" prev-enabled="false" ok-to-nav-away="true" wz-disabled="false" on-show="onShow">
    <div class="wizard-pf-contents" ng-controller="DeploymentController">
      <div class="wizard-pf-process blank-slate-pf" ng-if="!deploymentComplete">
        <div class="spinner spinner-lg blank-slate-pf-icon"></div>
        <h5 class="blank-slate-pf-main-action" id="example_source_deployment-in-progress">Generating application...</h5>
        <p class="blank-slate-pf-secondary-action">Business application is being generated, please wait... </p>
      </div>
      <div class="wizard-pf-complete blank-slate-pf" ng-if="deploymentComplete">
        <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
        <h5 class="blank-slate-pf-main-action" id="example_source_deployment-was-successful">Business application generated successfully</h5>
        <p class="blank-slate-pf-secondary-action">Your business application has been downloaded to your computer. You're now ready to start! </p>
        <button type="button" class="btn btn-lg btn-primary">Read user guide</button>
      </div>
   </div>
 </pf-wizard-substep>
</div>
