<!DOCTYPE html>
<html ng-app="patternfly.wizard">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- PatternFly Styles -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
<link rel="stylesheet" type="text/css" href="kie-main.css">
<title>jBPM - Start your business application</title>

<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/bootstrap.min.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/bootstrap-select.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery-ui.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/jquery.dataTables.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/dataTables.select.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/moment.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/d3.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/c3.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings-colors.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/patternfly-settings-charts.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-dragdrop.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-datatables.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-datatables.select.min.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-sanitize.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-animate.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/ui-bootstrap-tpls.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-bootstrap-prettify.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/lodash.min.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-patternfly.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-ui-router.min.js"></script>
<script
	src="https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-drag-and-drop-lists.js"></script>
<script src="script.js"></script>

<style>
.kie-container-fluid--blank-slate {
	position: relative;
	background-color: #343a40;
	background: url("img/bg-masthead.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-left: 0;
	padding-right: 0;
	height: 100vh;
}

.blank-slate-pf {
	margin: 0 0 0 0;
}

@media ( min-width : 768px) {
	.blank-slate-pf {
		margin: 60px 60px;
	}
}

@media ( min-width : 992px) {
	.blank-slate-pf {
		margin: 90px 120px;
	}
}

.kie-blank-slate-pf--light {
	background-color: rgb(255, 255, 255, 0.9);
}

@media ( min-width : 1200px) {
	.kie-blank-slate-pf-secondary-action--home>*:not (:last-child ) {
		border-right: none;
	}
}

.modal-content {
	height: 80vh;
}
</style>




</head>
<body id="app-body">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-pf" role="navigation">
		<div class="navbar-header">
			<div class="container-fluid">
				<a class="navbar-brand" href="https://jbpm.org">jBPM.org</a>
			</div>
		</div>
	</nav>

	<!-- Blank slate with primary and 3 secondary actions -->
	<div class="container-fluid kie-container-fluid--blank-slate">
		<!-- blank state content -->
		<div class="blank-slate-pf kie-blank-slate-pf--light row">
			<div class="blank-slate-pf__header">
				<h1 class="kie-homepage-welcome" id="welcome">Build your
					business application in just a few seconds!</h1>
				<div class="blank-slate-pf-main-action"
					ng-controller="WizardModalController">
					<button id="generateButton" ng-click="generate()"
						class="btn btn-primary btn-lg">Generate preconfigured application</button>
					<button id="configureAndenerateButton" ng-click="openWizardModel()"
						class="btn btn-default btn-lg">Configure and generate application</button>						
				</div>
			</div>
			<br> <br>
			<div
				class="blank-slate-pf-secondary-action kie-blank-slate-pf-secondary-action--home">
				<div class="kie-hero-card" id="demo1" role="button" tabindex="0">
					<div class="fa fa-code-fork kie-hero-card__icon kie-circle-icon"></div>
					<div class="kie-hero-card__text">
						<h2>Version</h2>
						<div>
							Select <a href="#0" class="kie-hero-card__link">the version</a>
							you want to use or type a custom one.
						</div>
					</div>
				</div>
				<div class="kie-hero-card" id="demo3" role="button" tabindex="0">
					<div
						class="fa fa-briefcase kie-hero-card__icon kie-circle-icon kie-circle-icon--lg"></div>
					<div class="kie-hero-card__text">
						<h2>Business Automation</h2>
						<div>Select the business automation capabilities that you
							need.</div>
					</div>
				</div>
				<div class="kie-hero-card" id="demo2" role="button" tabindex="0">
					<div
						class="pficon pficon-settings kie-hero-card__icon kie-circle-icon kie-circle-icon--lg"></div>
					<div class="kie-hero-card__text">
						<h2>Project Options</h2>
						<div>Select options for your business application.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end blank slate -->
</body>
</html>
