<div ng-controller="DetailsReviewController">
  <form class="form">
    <div class="wizard-pf-review-item">
      <span class="wizard-pf-review-item-label">Business asset project:</span>
      <span class="wizard-pf-review-item-value"><span class="pficon pficon-ok" ng-if="data.options.kjar"/><span class="pficon pficon-error-circle-o" ng-if="!data.options.kjar"/></span>
    </div>
    <div class="wizard-pf-review-item">
      <span class="wizard-pf-review-item-label">Data model project:</span>
      <span class="wizard-pf-review-item-value"><span class="pficon pficon-ok" ng-if="data.options.model"/><span class="pficon pficon-error-circle-o" ng-if="!data.options.model"/></span>
    </div>
    <div class="wizard-pf-review-item">
      <span class="wizard-pf-review-item-label">Service project:</span>
      <span class="wizard-pf-review-item-value"><span class="pficon pficon-ok" ng-if="data.options.service"/><span class="pficon pficon-error-circle-o" ng-if="!data.options.service"/></span>
    </div>
  </form>
</div>
