<div ng-controller="SecondStepController">
  <pf-wizard-step focus-selectors="focusSelectors" step-title="Capabilities" next-tooltip="secondStepNextTooltip" prev-tooltip="secondStepPrevTooltip" substeps="false" step-id="configuration" step-priority="1" show-review="true" review-template="review-capabilities-template.html" >
    <form class="form-horizontal">
      <h5 id="note">Select automation capabilities your application should be equipped with.</h5>
        <pf-form-group pf-label="Business automation" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
          <input id="new-lorem" name="lorem" ng-model="capabilities.bpm" type="checkbox" />
        </pf-form-group>
        <pf-form-group pf-label="Decision management" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
          <input id="new-lorem" name="model" ng-model="capabilities.brm" type="checkbox" />
        </pf-form-group>
        <pf-form-group pf-label="Business optimizer" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
          <input id="new-lorem" name="service" ng-model="capabilities.planner" type="checkbox" />
        </pf-form-group>
      </form>
  </pf-wizard-step>
</div>
