<pf-wizard wizard-title="Generate business application"
  wizard-ready="wizardReady"
  on-finish="finishedWizard()"
  on-cancel="cancelDeploymentWizard()"
  next-title="nextButtonTitle"
  next-callback="nextCallback"
  back-callback="backCallback"
  wizard-done="deployComplete || deployInProgress"
  loading-secondary-information="secondaryLoadInformation"
  on-step-changed="stepChanged(step, index)">
    <pf-wizard-step step-title="Application " next-tooltip="firstStepNextTooltip" prev-tooltip="firstStepPrevTooltip" substeps="true" step-id="details" step-priority="0" show-review="true" show-review-details="true">
      <div ng-include="'detail-page.html'">
      </div>
      <pf-wizard-substep step-title="Options" next-enabled="true" step-id="details-extra" step-priority="1" show-review="true" show-review-details="true" review-template="review-second-template.html">
        <form class="form-horizontal">
          <pf-form-group pf-label="Business assets project" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
            <input id="new-lorem" name="lorem" ng-model="options.kjar" type="checkbox" />
          </pf-form-group>
          <pf-form-group pf-label="Data model project" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
            <input id="new-lorem" name="model" ng-model="options.model" type="checkbox" />
          </pf-form-group>
          <pf-form-group pf-label="Service project" pf-label-class="col-sm-5 col-md-5" pf-input-class="col-sm-7 col-md-7">
            <input id="new-lorem" name="service" ng-model="options.service" type="checkbox" />
          </pf-form-group>
        </form>
      </pf-wizard-substep>
    </pf-wizard-step>
    <div ng-include="'second-step.html'">
    </div>
    <pf-wizard-step step-title="Review " next-tooltip="reviewStepNextTooltip" prev-tooltip="reviewStepPrevTooltip" substeps="true" step-id="review" step-priority="2">
      <div ng-include="'summary.html'"></div>
      <div ng-include="'deployment.html'"></div>
    </pf-wizard-step>
 </pf-wizard>
