html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row-top {
    margin-right: 0px;
    margin-left: 0px;
    background-image: url(../img/bgimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    display: block;
}

.topcontent {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.configcontent {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.topcontentsmall {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}

.row-bottom {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 60%;
    background-color: white;
    display: none;
}

.row-bottom-config {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 60%;
    background-color: white;
    display: block;
}

.infocard {
    border: none;
    width: 18rem;
}

.step-wrapper {
    padding: 10px 0;
    display: none;
}

.step-wrapper.active {
    display: block;
}

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 5px;
}

.step-indicator li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;
}

.step-indicator li:after {
    background-color: #ccc;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    top: 32px;
}

.step-indicator li:after {
    left: 50%;
}

.step-indicator li:last-child:after {
    display: none;
}

.step-indicator li.active .step {
    border-color: #4183D7;
    color: #4183D7;
}

.step-indicator li.active .caption {
    color: #4183D7;
}

.step-indicator li.complete:after {
    background-color: #87D37C;
}

.step-indicator li.complete .step {
    border-color: #87D37C;
    color: #87D37C;
}

.step-indicator li.complete .caption {
    color: #87D37C;
}

.step-indicator .step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    position: relative;
    width: 64px;
    z-index: 1;
}

.step-indicator .step:hover {
    cursor: pointer;
}

.step-indicator .caption {
    color: #ccc;
    padding: 11px 16px;
}

.middle {
    width: 100%;
    text-align: center;
}

.middle h1 {
    color: #fff;
}

.middle input[type="radio"] {
    display: none;
}

.middle input[type="checkbox"] {
    display: none;
}

.middle input[type="radio"]:checked + .box {
    background-color: #6495ED;
    color: #fff;
}

.middle input[type="checkbox"]:checked ~ .box {
    background-color: #6495ED;
    color: #fff;
}

.middle input[type="radio"]:checked + .box span {
    color: white;
    transform: translateY(70px);
}

.middle input[type="checkbox"]:checked ~ .box span {
    color: white;
    transform: translateY(70px);
}

.middle input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
}

.middle input[type="checkbox"]:checked ~ .box span:before {
    transform: translateY(0px);
    opacity: 1;
}

.middle .box {
    color: #6495ED;
    background-color: #ffffff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid #4682B4;
    padding: 20px;
    width: 200px;
    height: 150px;

}

.middle .box span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.5em;
    user-select: none;
    color: #6495ED;
}

.middle .box span:before {
    font-size: 1.2em;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-size: 12px;
    color: white;
}

.middle p {
    color: #fff;
    font-size: 12px;
}

.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
}

.btn-xlarge {
    color: white;
    padding: 18px 28px;
    font-size: 22px;
    font-color: white;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: white;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
}

.successtext {
    font-size: 30px;
    color: #4183D7;
}

.nextsteps {
    font-size: 20px;
    color: #000000;
}

 a, a:hover, a:focus {
     color: #000000;
 }

 .appdiv {
     border: 1px solid #4682B4;
 }

 .button-primary-inverse {
     color: #007bff !important;
     background-color: #fff !important;
     border-color: #007bff !important;
 }

.topbackground {
    background-color: rgba(255,255,255, 0.3);
    color: inherit;
    width: 50%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}

.jbpmfooter {
    border: 1px solid rgba(0,0,0,.125);
    color: #000;
}

.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}

.jbpm-card-body{
}

.hidden {
  display: none !important;
}
