<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="icon" href="img/jbpm_icon.png">
    <title>jBPM - Business application docs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/jquery-editable-select.min.css">
    <link rel="stylesheet" href="css/jbpm.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-editable-select.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div id="container">

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-3">jBPM Business App Docs</h1>
            <p class="lead">Congratulations on building your Business Application! Here you can find some nice documentation
            on how to get started building a killer business app!</p>
            <p>You can generate another business app by clicking on the button below</p>
            <p><a class="btn btn-lg btn-primary" href="/" role="button">Generate another business app</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>

                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>

                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>
            </div>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>

                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>

                <h4>Subheading</h4>
                <p>This is a sample sub heading for docs and liks to stuff</p>
            </div>
        </div>

    </div> <!-- /container -->

</div>
</body>
</html>